AUTH_GOOGLE_CLIENT_ID=""
AUTH_GOOGLE_CLIENT_SECRET=""

BETTER_AUTH_SECRET=""

DATABASE_URL=""

NEXT_PUBLIC_APP_URL="http://localhost:3000"

RESEND_API_KEY=""

STRIPE_API_KEY=""
STRIPE_WEBHOOK_SECRET=""
