@use '@/presentation/styles/typography'

.card
  background-color: var(--neutral-background)
  border: var(--element-stroke, 0.125rem) solid var(--neutral-border)
  border-radius: var(--radius-m, 0.5rem)
  box-shadow: var(--shadow-m)
  display: grid
  overflow: hidden

.card-body
  aspect-ratio: 1

.card-title
  @include typography.text-ellipsis
