@use '@/presentation/styles/sizes'
@use '@/presentation/styles/typography'

.default-selector
  @include typography.label-small

  &
    align-items: center
    background-color: var(--brand-background)
    border-radius: var(--element-radius, 0.25rem)
    color: var(--neutral-background)
    display: flex
    gap: var(--size-40, 0.25rem)
    inline-size: fit-content
    padding: var(--size-40, 0.25rem) var(--size-120, 0.75rem) var(--size-40, 0.25rem) var(--size-80, 0.5rem)

  & svg
    @include sizes.square(var(--size-120, 0.75rem))
