@use '@/presentation/styles/sizes'
@use '@/presentation/styles/typography'

.fallback-wrapper
  @include sizes.responsive

  &
    margin: auto
    padding-block-end: 10%

.fallback-title
  @include typography.title-large

  &
    text-align: center

.fallback-description
  @include typography.body-small

  &
    margin-block: var(--size-160, 1rem) var(--size-320, 2rem)
    text-align: center

.fallback-actions,
.fallback-wrapper .fallback-button
  inline-size: fit-content
  margin-inline: auto
