@use '@/presentation/styles/interactive'
@use '@/presentation/styles/sizes'

.product-card
  &:not(.is-disabled)
    @include interactive.transparent

  & .product-image
    @include sizes.square(100%)

    & svg
      @include sizes.square(3rem)

  & .footer
    display: grid
    grid-template-columns: 1fr auto
    padding: var(--size-80, 0.5rem) var(--size-80, 0.5rem) var(--size-80, 0.5rem) var(--size-160, 1rem)

    & .content
      display: grid
