@use '@/presentation/styles/accessibility'
@use '@/presentation/styles/forms'
@use '@/presentation/styles/interactive'
@use '@/presentation/styles/selectors'
@use '@/presentation/styles/sizes'
@use '@/presentation/styles/typography'

.select
  @include forms.field

  & .trigger
    @include forms.field-input

    &
      display: grid
      grid-template-columns: 1fr auto
      gap: var(--size-80, 0.5rem)

    & .value
      @include typography.body-medium

      &
        @include typography.text-ellipsis

      &
        text-align: start

      & .content
        align-items: center
        display: flex
        gap: var(--size-80, 0.5rem)

        &:has(.icon)
          display: grid
          grid-template-columns: auto 1fr

        & .text
          @include typography.text-ellipsis

        & .icon
          @include sizes.square(1rem)

.select-popover
  @include interactive.popover

  &
    min-inline-size: var(--trigger-width)

  & .item
    @include interactive.transparent

    &
      @include accessibility.focus-border

    &
      align-items: center
      block-size: var(--size-360, 2rem)
      border-radius: var(--element-radius, 0.25rem)
      cursor: pointer
      display: grid
      gap: var(--size-80, 0.5rem)
      grid-template-columns: 1fr auto
      justify-content: space-between
      padding: var(--size-80, 0.5rem) var(--size-120, 0.75rem)

    @include selectors.disabled
      cursor: default

    & .content
      @include typography.text-ellipsis

      &
        align-items: center
        display: flex
        gap: var(--size-80, 0.5rem)

      &:has(.icon)
        display: grid
        grid-template-columns: auto 1fr

      & .text
        @include typography.text-ellipsis

      & .icon
        @include sizes.square(1rem)

    & .check-icon
      @include sizes.square(1rem)
