.account-delete
  &-button
    margin-inline: auto

  &.overlay
    backdrop-filter: blur(0.125rem)
    inset: 0
    position: fixed

  & .modal
    background-color: var(--neutral-background)
    border-radius: var(--radius-m, 0.5rem)
    box-shadow: var(--shadow-xl)
    inline-size: min(100% - var(--size-160, 1rem), 30rem)
    inset: 45% auto auto 50%
    padding: var(--size-160, 1rem)
    position: fixed
    translate: -50% -50%
