@use '@/presentation/styles/sizes'
@use '@/presentation/styles/typography'

.auth-wrapper
  @include sizes.responsive(s)

  &
    display: flex
    flex: 1
    flex-direction: column
    gap: var(--size-160, 1rem)
    margin-inline: auto
    min-block-size: 10rem
    // justify-content: center
    padding-block: var(--size-320, 2rem) calc(var(--size-320, 2rem) + 10%)

  & h1
    @include typography.title-large

    &
      text-align: center

  & .already-registered,
  & .no-account
    display: grid
    gap: var(--size-80, 0.5rem)
    inline-size: fit-content
    margin-inline: auto
    place-items: center

    & p
      @include typography.label-small

      &
        color: var(--neutral-foreground-soft)

    & a
      padding: var(--size-20, 0.125rem) var(--size-40, 0.25rem)

