@use '@/presentation/styles/interactive'
@use '@/presentation/styles/sizes'

.admin-list
  display: flex
  flex-wrap: wrap
  gap: 2rem
  justify-content: center
  margin-inline: auto
  padding-block: 10rem

  & .card
    @include interactive.transparent

    &
      block-size: 100%
      inline-size: 10rem

    & .card-body
      align-content: center
      justify-items: center

      & svg
        @include sizes.square(2.5rem)

    & .card-footer
      font-weight: 600
      padding: 0 1em 1.5em
      text-align: center
