.cart-overlay
  backdrop-filter: blur(0.125rem)
  inset: 0
  position: fixed

  &[data-entering]
    animation: cart-overlay-animation var(--transition-150, 0) var(--ease-gentle, ease-in-out)

  &[data-exiting]
    animation: cart-overlay-animation var(--transition-150, 0) var(--ease-gentle, ease-in-out) reverse

.cart-modal
  background-color: var(--neutral-background)
  border-inline-start: var(--element-stroke, 0.125rem) solid var(--neutral-border)
  inline-size: min(100vw, 35rem)
  inset: 0 0 0 auto
  position: fixed

  &[data-entering]
    animation: cart-modal-animation var(--transition-150, 0) var(--ease-gentle, ease-in-out)

  &[data-exiting]
    animation: cart-modal-animation var(--transition-150, 0) var(--ease-gentle, ease-in-out) reverse

@keyframes cart-modal-animation
  from
    opacity: 0
    translate: 100% 0
  to
    opacity: 1
    translate: 0 0

@keyframes cart-overlay-animation
  from
    opacity: 0
  to
    opacity: 1
