:root
  --black-oklch: 15% 0 0
  --white-oklch: 97% 0 0

  --black: oklch(var(--black-oklch))
  --white: oklch(var(--white-oklch))

  --alpha-xs: 0.08
  --alpha-s: 0.16
  --alpha-m: 0.5
  --alpha-l: 0.84
  --alpha-xl: 0.92

  --neutral-background-oklch: var(--white-oklch)
  --neutral-background: oklch(var(--neutral-background-oklch))
  --neutral-background-hovered: oklch(92% 0.002 286.03)
  --neutral-background-pressed: oklch(87% 0.004 286.03)

  --neutral-background-secondary: oklch(90% 0.002 286.03)
  --neutral-background-secondary-hovered: oklch(85% 0.003 286.03)
  --neutral-background-secondary-pressed: oklch(80% 0.004 286.03)

  --neutral-background-muted: oklch(87% 0.004 286.03)
  --neutral-background-muted-hovered: oklch(82% 0.003 286.03)
  --neutral-background-muted-pressed: oklch(77% 0.002 286.03)

  --neutral-foreground-oklch: var(--black-oklch)
  --neutral-foreground: oklch(var(--neutral-foreground-oklch))
  --neutral-foreground-hovered: oklch(20% 0.002 0)
  --neutral-foreground-pressed: oklch(25% 0.004 0)

  --neutral-foreground-light: oklch(35% 0.002 0)
  --neutral-foreground-light-hovered: oklch(30% 0.003 0)
  --neutral-foreground-light-pressed: oklch(25% 0.004 0)

  --neutral-foreground-muted: oklch(45% 0.008 286.07)
  --neutral-foreground-muted-hovered: oklch(40% 0.007 286.07)
  --neutral-foreground-muted-pressed: oklch(35% 0.006 286.07)

  --neutral-border: oklch(75% 0.005 286.03)
  --neutral-border-hovered: oklch(70% 0.007 286.03)
  --neutral-border-pressed: oklch(65% 0.008 286.03)

  --neutral-ring: oklch(27% 0.006 286.29)

  --brand-background: var(--black)
  --brand-background-hovered: oklch(25% 0.002 0)
  --brand-background-pressed: oklch(35% 0.004 0)

  --brand-foreground: var(--black)
  --brand-foreground-hovered: oklch(25% 0.002 0)
  --brand-foreground-pressed: oklch(35% 0.004 0)

  --status-destructive-background: oklch(65% 0.133 25.72)
  --status-destructive-foreground: var(--white)

  --status-error-background: oklch(96% 0.025 10.98)
  --status-error-border: oklch(60% 0.185 20.83)
  --status-error-foreground: oklch(45% 0.185 20.83)

  --status-gold-background: oklch(97% 0.035 85.67)
  --status-gold-border: oklch(75% 0.155 85.67)
  --status-gold-foreground: oklch(50% 0.165 85.67)

  --status-info-background: oklch(96% 0.025 264.41)
  --status-info-border: oklch(60% 0.155 262.27)
  --status-info-foreground: oklch(45% 0.165 262.27)

  --status-success-background: oklch(97% 0.03 160.72)
  --status-success-border: oklch(55% 0.103 153.53)
  --status-success-foreground: oklch(40% 0.113 153.53)

  --status-warning-background: oklch(97% 0.02 57.96)
  --status-warning-border: oklch(70% 0.136 52.41)
  --status-warning-foreground: oklch(45% 0.146 52.41)

:root[data-theme='dark']
  --black-oklch: 15% 0 0
  --white-oklch: 97% 0 0

  --black: oklch(var(--black-oklch))
  --white: oklch(var(--white-oklch))

  --neutral-background: var(--black)
  --neutral-background-hovered: oklch(22% 0.004 286.03)
  --neutral-background-pressed: oklch(27% 0.008 286.03)

  --neutral-background-muted: oklch(27.41% 0.006 286.03)
  --neutral-background-muted-hovered: oklch(23.5% 0.008 286.03)
  --neutral-background-muted-pressed: oklch(20% 0.004 286.03)

  --neutral-foreground: var(--white)
  --neutral-foreground-hovered: oklch(85% 0 0)
  --neutral-foreground-pressed: oklch(80% 0 0)

  --neutral-foreground-light: oklch(74.89% 0 0)
  --neutral-foreground-light-hovered: oklch(70% 0 0)
  --neutral-foreground-light-pressed: oklch(65% 0 0)

  --neutral-foreground-muted: oklch(71.19% 0.013 286.07)
  --neutral-foreground-muted-hovered: oklch(65% 0.012 286.07)
  --neutral-foreground-muted-pressed: oklch(60% 0.011 286.07)

  --neutral-border: oklch(27.41% 0.006 286.03)
  --neutral-border-hovered: oklch(35% 0.008 286.03)
  --neutral-border-pressed: oklch(40% 0.010 286.03)

  --neutral-ring: oklch(87.09% 0.006 286.29)

  --brand-background: var(--white)
  --brand-background-hovered: oklch(90% 0 0)
  --brand-background-pressed: oklch(85% 0 0)

  --brand-foreground: var(--white)
  --brand-foreground-hovered: oklch(85% 0 0)
  --brand-foreground-pressed: oklch(80% 0 0)

  --status-destructive-background: oklch(39.59% 0.133 25.72)
  --status-destructive-foreground: var(--white)

  --status-error-background: oklch(90.98% 0.036 10.98)
  --status-error-border: oklch(54.61% 0.185 20.83)
  --status-error-foreground: oklch(54.61% 0.185 20.83)

  --status-gold-background: oklch(94% 0.045 85.67)
  --status-gold-border: oklch(81.53% 0.165 85.67)
  --status-gold-foreground: oklch(81.53% 0.165 85.67)

  --status-info-background: oklch(91.33% 0.0315 264.41)
  --status-info-border: oklch(51.68% 0.165 262.27)
  --status-info-foreground: oklch(51.68% 0.165 262.27)

  --status-success-background: oklch(95.14% 0.041 160.72)
  --status-success-border: oklch(49.23% 0.113 153.53)
  --status-success-foreground: oklch(49.23% 0.113 153.53)

  --status-warning-background: oklch(93.45% 0.027 57.96)
  --status-warning-border: oklch(66.59% 0.146 52.41)
  --status-warning-foreground: oklch(66.59% 0.146 52.41)
