@use '@/presentation/styles/animations'
@use '@/presentation/styles/selectors'

@mixin outlined
  @include animations.color-transitions

  &
    background-color: transparent
    border: var(--stroke-m) solid var(--neutral-border)
    border-radius: var(--radius-s)
    color: var(--neutral-foreground)
    padding: var(--size-80) var(--size-120)

  @include selectors.hovered
    border-color: var(--neutral-border-hovered)

  @include selectors.pressed
    border-color: var(--neutral-border-pressed)

  @include selectors.focused
    border-color: var(--neutral-border-focused)
