@use '@/presentation/styles/accessibility'
@use '@/presentation/styles/animations'
@use '@/presentation/styles/selectors'

@mixin common-interactive
  @include animations.color-transitions

@mixin destructive
  @include common-interactive

  &
    background-color: var(--destructive-background)
    color: var(--destructive-foreground)

  @include selectors.hovered
    background-color: var(--destructive-background-hovered)

  @include selectors.pressed
    background-color: var(--destructive-background-pressed)

  @include selectors.disabled
    background-color: var(--neutral-background-muted)
    color: var(--neutral-foreground-muted)

@mixin filled
  @include common-interactive

  &
    background-color: var(--brand-background)
    color: var(--neutral-background)

  @include selectors.hovered
    background-color: var(--brand-background-hovered)

  @include selectors.pressed
    background-color: var(--brand-background-pressed)

  @include selectors.disabled
    background-color: var(--neutral-background-muted)
    color: var(--neutral-foreground-muted)

@mixin outlined
  @include common-interactive

  &
    border: var(--stroke-m) solid var(--neutral-border)
    color: var(--neutral-foreground)

  @include selectors.hovered
    border-color: var(--neutral-border-hovered)

  @include selectors.pressed
    border-color: var(--neutral-border-pressed)

  @include selectors.disabled
    border-color: var(--neutral-border-muted)
    color: var(--neutral-foreground-muted)

@mixin popover
  background-color: var(--neutral-background)
  border: var(--element-stroke, 0.125rem) solid var(--neutral-border)
  border-radius: var(--element-radius, 0.25rem)
  max-block-size: min(20rem, 100svh - var(--size-80, 0.5rem))
  max-inline-size: var(--max-inline-size, 100%)
  outline: none
  overflow-y: auto
  padding-block: var(--size-80, 0.5rem)

@mixin transparent
  @include common-interactive

  &
    background-color: transparent
    color: var(--neutral-foreground)

  @include selectors.hovered
    background-color: oklch(from var(--neutral-foreground) l c h / var(--alpha-xs, 0.125))

  @include selectors.pressed
    background-color: oklch(from var(--neutral-foreground) l c h / var(--alpha-s, 0.25))

  @include selectors.disabled
    background-color: transparent
    color: var(--neutral-foreground-muted)

@mixin underlined
  @include common-interactive

  &
    color: var(--neutral-foreground)
    text-decoration: none

  @include selectors.hovered
    text-decoration: underline
  
  @include selectors.pressed
    text-decoration: underline

  @include selectors.disabled
    color: var(--neutral-foreground-muted)
    text-decoration: none
