.header
  align-items: center
  background-color: var(--neutral-background)
  block-size: var(--header-height, 3rem)
  border-block-end: var(--stroke-m, 0.125rem) solid var(--neutral-border)
  display: flex
  justify-content: space-between
  padding-inline: var(--size-160, 1rem)
  position: sticky
  top: 0

  & .home-link
    border-radius: var(--circular, 99rem)
