.header
  align-items: center
  background-color: var(--neutral-background)
  border-block-end: var(--stroke-m, 0.125rem) solid var(--neutral-border)
  display: flex
  justify-content: space-between
  padding: var(--size-160, 1rem) var(--size-320, 2rem)
  position: sticky
  top: 0
  z-index: 1

  & .home-link
    border-radius: var(--circular, 99rem)

  & .content
    display: flex
    align-items: center
    gap: var(--size-160, 1rem)
