@use '@/presentation/styles/typography'

html
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased
  -webkit-tap-highlight-color: transparent
  accent-color: var(--brand-foreground)
  caret-color: var(--brand-foreground)
  color-scheme: light
  scroll-behavior: smooth

  ::selection
    background-color: var(--brand-background)
    color: var(--neutral-background)

  ::target-text
    background-color: var(--brand-background)
    color: var(--neutral-background)

body
  @include typography.body-medium

  &
    background-color: var(--neutral-background)
    color: var(--neutral-foreground)
    display: flex
    flex-direction: column
    padding-block-end: 25vh

.box
  background: green
  display: flex
  gap: 2rem
  margin: 50px auto
  padding: 50px

  & .content
    aspect-ratio: 1
    // border: 2px solid red
    border-radius: 1rem
    height: 100px
    width: 100px
    box-shadow: var(--shadow-m)

    &.rest
      background-color: var(--neutral-background)

      &:hover
        background-color: var(--neutral-background-hovered)

      &:active
        background-color: var(--neutral-background-pressed)

    &.hover
      background-color: var(--neutral-background-hovered)

    &.press
      background-color: var(--neutral-background-pressed)
