@use '@/presentation/styles/sizes'
@use '@/presentation/styles/typography'

.checkout-cancel-page
  @include sizes.responsive(s)

  &
    align-items: center
    display: flex
    flex: 1
    flex-direction: column
    gap: var(--size-160, 1rem)
    margin-inline: auto
    padding-block: var(--size-320, 2rem) calc(var(--size-320, 2rem) + 10%)
    text-align: center

  & h1
    @include typography.headline-medium

  & p
    @include typography.body-large

    &
      color: var(--neutral-foreground-soft)
