@use '@/presentation/styles/sizes'

.user-list
  @include sizes.responsive

  &
    display: flex
    flex-direction: column
    gap: var(--size-320, 2rem)
    margin-inline: auto
    padding-block: var(--size-320, 2rem)
